{% extends "base_email.html" %}

{% block content %}
<p>LiebeR {{ guest_first_name }},</p>

<p>wir hoffen, Du freust Dich auf Deinen bevorstehenden Aufenthalt vom {{ check_in_date }} bis zum {{ check_out_date }}.</p>

<div class="highlight">
    <p>Für Deinen Besuch auf Amrum benötigen Du und alle Mitreisenden eine Kurkarte. Die dafür notwendigen Angaben trägst Du bitte über diesen Button ein:</p>

    <p><a href="{{ kurkarten_url }}" class="button">Kurkarten-Daten eintragen</a></p>
</div>

<p>Das Formular unterscheidet leider nicht sauber zwischen Kindern und Erwachsenen. Es wäre deshalb toll, wenn Du uns danach kurz Rückmeldung gibst und uns sagst, wer Kind und wer Erwachsener ist.</p>

<p>Die Kurkarten bekommst Du dann etwa drei Tage vor Anreise per Mail zugeschickt.</p>

<p>Viele Grüße<br>
Svenja, Gunnar, Jochen, Ingo und Nils vom Haus B</p>
{% endblock %}
